button {
    padding: 20px;
    border: thin solid $dark-gray;
    cursor: pointer;
    font-size: 1em;
}
.btn-right {
    float: right;
    overflow: hidden;
}
.btn-center {
    margin: auto;
}
.btn-left {
    float: left;
}

.btn-top-margin {
    margin-top: 10px;
}

.btn-lrg {
    width: 100%;
}

.btn-white {
    background-color: white;
    color: black;
}
.btn-white:hover, .btn-gray:hover {
    background-color: black;
    color: white;
}
.btn-gray {
    background-color: $gray;
}
